@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,600&subset=cyrillic');
* {
	margin: 0;
	padding: 0;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
body {
	font: 14px 'Open Sans', sans-serif;
	background: #efefef;
}
.container {
	max-width: 900px;
	margin: 0 auto;
	padding: 20px 0;
}
.container > div {
	padding: 30px;
	background: #fff;
	margin: 20px 0;
}
.header {
	text-align: right;
}
.main, .footer {
	text-align: center;
}
div.main {
	padding: 50px 30px;
}
.btn {
	padding: 1px;
	border: 1px solid #008080;
	display: block;
	margin-top: 10px;
	text-align: center;
	font-size: 14px;
	color: #fff;
	text-decoration: none;
}
.btn span {
	background: #008080;
	padding: 10px 5px;
	display: block;
}
.btn:not(.disabled):hover span {
	background: transparent;
	color: #008080;
}