@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,600&subset=cyrillic');
* {
	margin: 0;
	padding: 0;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
html, body {height: 100%;}
body {
	background: #000 url(img/background/1.jpg) 50% 0% no-repeat;
	color: #fff;
	font: 14px 'Open Sans', sans-serif;
}
.no-scroll {overflow: hidden;}
img {max-width: 100%; height: auto !important;}
a {color: #fff; text-decoration: none;}
a:hover {color: #008080;}
h1, h2, h3, h4, h5, h6 {
	font-weight: 600;
}
.container {
	max-width: 1000px;
	margin: 0 auto;
	display: flex;
	height: 100%;
	height: auto;
	min-height: 100%;
	flex-direction: column;
	padding-top: 50px;
}
.add {
	flex-grow: 0;
	text-align: center;
	height: 70px;
	background: rgba(255,255,255,.1);
}
.header, .footer {
	flex-grow: 0;
	text-align: center;
	padding: 15px;
}
.header{ 
    /*border-bottom: 1px solid rgba(255,255,255,.1);*/
	margin: 15px 0;
    background: rgba(43,43,43,.7);
}
.logo {
	font-size: 18px;
}
.footer ul, .header ul, .sidebar ul {list-style: none;}
.footer li {
	display: inline-block;
	margin: 0 10px;
}
.main {
	flex-grow: 1;
	display: flex;
	background: #2b2b2b
}
.sidebar {
	background: rgba(255,255,255,.1);
	padding: 0 20px;
}
.game {
	display: inline-block;
	text-indent: -99999px;
	background-repeat: no-repeat;
	width: 100px;
	height: 43px;
	margin: 10px 0;
    filter: grayscale(1);
	transition: filter .2s;
}
.game:hover, .game.active {
    filter: grayscale(0);
}
.dota {
	background-image: url(img/game_582.png);
}
.csgo {
	background-image: url(img/game_704.png);
}
.overwatch {
	background-image: url(img/game_800.png);
}
.ll {
	background-image: url(img/game_313.png);
}
.hs {
	background-image: url(img/game_755.png);
}
.content {
	padding: 10px 10px 10px 30px;
	
}
h1 {margin-bottom: 25px;}
.content p {
	margin: 15px 0;
}
table {
	width: 100%;
	border-collapse: collapse;
	margin: 25px 0;
	table-layout: fixed;
}
th {font-size: 12px; background: rgba(255,255,255,.1);}
td, th {
	padding: 5px 10px;
	border: 1px solid rgba(255,255,255,.1);
	
}
input[type=text] {
	padding: 5px;
	border: 1px solid rgba(255,255,255,.1);
	font-size: 12px;
}
.date {padding: 5px;}
.btn {
	padding: 1px;
	border: 1px solid #008080;
	display: block;
	margin-top: 10px;
	text-align: center;
	font-size: 18px;
}
.btn span {
	background: #008080;
	padding: 5px;
	display: block;
}
.btn:not(.disabled):hover span {
	background: transparent;
}
a.disabled {
	cursor: default;
	border-color: #ccc;
	color: #2b2b2b;
}
a.disabled span {background: #ccc;}
.rating span {
	width: 16px;
	height: 16px;
	display: inline-block;
	background: url(img/rate.png);
}
.rating .active {
	background: url(img/rate-active.png);
}
.reviews {margin: 20px 0;}
.review {
	display: inline-block;
	width: 33%;
	padding-right: 15px;
	vertical-align: top;
}
.reviewer {
	font-style: italic;
}
.blackout {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0,0,0,.7);
	visibility: hidden;
	opacity: 0;
	transition: .2s;
}
.blackout.visible {
	visibility: visible;
	opacity: 1;
}
.blackout.loading:after {
	content: '';
	width: 100px;
	height: 100px;
	background: url(img/spinner.gif) 50%/cover;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
}
.modal {
	max-width: 500px;
	background: #fff;
    padding: 30px;
	color: #000;
}
.formAnswer {display: none;}
form input[type=text], 
form input[type=number], 
form select {
	display: block;
    width: 100%;
    margin: 0 0 10px;
	padding: 5px;
	border: 1px solid rgba(0,0,0,.1);
	font-size: 12px;
	outline: none;
}
form input.error {border-color: red;}
input[type=submit] {
	display: block;
    width: 100%;
	background: transparent;
	padding: 5px;
	border: 1px solid #008080;
	display: block;
	margin-top: 10px;
	text-align: center;
	font-size: 18px;
	cursor: pointer;
}
#price {color: #008080;}
.hint {
	font-style: italic;
    margin: 10px 0 0;
    font-size: 12px;
}
.ui-datepicker {	
    background: rgba(0,0,0,.9);
}
.ui-datepicker-calendar {margin: 0; width: auto;}
.ui-datepicker-calendar td, .ui-datepicker-calendar th {
	padding: 5px;
}
.ui-datepicker-header {
	text-align: center;
	position: relative;
	padding: 5px 20px;
}
.ui-datepicker-prev,
.ui-datepicker-next {
	width: 20px;
	height: 20px;
	position: absolute;
	top: 0;
	bottom: 0;
	margin: auto;
	cursor: pointer;
	text-indent: -9999px;
}
.ui-datepicker-prev {left: 0; background: url(img/left.png)}
.ui-datepicker-next {right: 0; background: url(img/right.png)}